.float {
  background-image: url('../img/squareview.jpg');
  background-repeat: no-repeat;
  height: 720px;
  box-shadow: 18px 18px 18px 18px rgba(0, 0, 0, 0.5);
  filter: brightness(85%);
}

.headerBlock {
  position: absolute;
  margin-top: 2rem;
  margin-left: 4rem;
}

#linkSection {
  position: absolute;
  padding-top: 36rem;
  padding-left: 4rem;
  font-family: 'Josefin Sans';
  font-size: 22px;
}

a:link {
  color: #faf0ec;
}

a:visited {
  color: #cf4261;
}

